/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You should not need to change this file
* much after initial creation.
*/

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Playwrite+VN:wght@100;400&family=Crimson+Text:wght@400;600&display=swap");

:root {
  /* Theme Colors */
  --aloe-green: #6cb78a;
  --sunset-pink: #fbc5d0;
  --chestnut-brown: #523324;
  --caramel-orange: #ef9e5c;
  --beige: #faf7ee;
  --sky-blue: #90a5f1;
  /* Error Button */
  --error-red: rgb(247, 104, 111);

  /* Grayscale */
  --darkgrey: #7a7a7a;
  --medgrey: #c4c4c4;
  --lightgrey: #e8e8e8;
  --white: #ffffff;

  /* Spacing */
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;

  /* Fonts */
  --font-serif: "Crimson Text", serif;
  --font-sans: "Playwrite VN", sans;
  --font-handwritten: "Nunito", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-handwritten);
  font-weight: 400;
  background-color: var(--beige);
  color: var(--chestnut-brown);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  color: var(--aloe-green);
  margin: var(--m) 0;
}

p {
  margin: var(--s) 0;
}

form {
  flex-grow: 1;
}

/* Utility Classes */
.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--sky-blue);
  text-decoration: none;
  font-family: var(--font-handwritten);
}

.u-link:hover {
  color: var(--caramel-orange);
}

.u-bg-aloeGreen {
  background-color: var(--aloe-green);
}

.u-bg-sunsetPink {
  background-color: var(--sunset-pink);
}

.u-bg-chestnutBrown {
  background-color: var(--chestnut-brown);
}

.u-bg-caramelOrange {
  background-color: var(--caramel-orange);
}

.u-bg-beige {
  background-color: var(--beige);
}

.u-bg-skyBlue {
  background-color: var(--sky-blue);
}

.u-padding {
  padding: var(--m);
}

.u-margin {
  margin: var(--m);
}

.u-rounded {
  border-radius: var(--s);
}

/* High-Level Elements */
html,
body {
  height: 100%;
}

a {
  font-family: var(--font-handwritten);
  color: var(--sky-blue);
  text-decoration: none;
}

a:hover {
  color: var(--caramel-orange);
}
