.Login-background {
  position: relative;
  background-image: url("/assets/SampleBackground.png"); /* Update path if necessary */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.Login-darken-background {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(147, 114, 95, 0.197);
}

.Login-content {
  text-align: center;
  color: var(--chestnut-brown); /* Use a contrasting color for text */
  padding: var(--l);
  background: var(--cream);
  border: 7px solid var(--cotton-pink); /* Corrected border syntax */
  border-radius: var(--m);
  max-width: 400px;
  margin-top: -100px;
}

/* Title Styling */
h1 {
  font-size: 2rem;
  font-family: var(--font-fancy);
  color: var(--spring-green);
  margin: var(--l);
  margin-bottom: var(--xl);
}

/* Google Login Button Styling */
.google-login {
  margin-top: var(--m);
}
