.Book-container {
  display: flex;
  position: relative;
  width: 60%;
  height: 75vh;
  perspective: 2000px;
  z-index: 100;
}

.Book-page {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 20px;
  overflow-wrap: break-word;
  display: flex;
  font-size: 16px;
  font-family: var(--font-formal);
  position: absolute;
  backface-visibility: hidden;
  /* transition: transform 0.5s ease-in-out; */
  border: 3px solid var(--cotton-pink);
}

.Book-left {
  left: 0;
  border-radius: 10px 0px 0px 10px;
  transform-origin: top right;
  background: var(--cream);
  border-right: 1px solid var(--peach);
}

.Book-right {
  right: 0;
  border-radius: 0px 10px 10px 0px;
  transform-origin: top left;
  background: var(--cream);
  border-left: 1px solid var(--peach);
}

/* Independent flipping animations */
/* .flipping-left {
  transform: rotateY(90deg);
}

.flipping-right {
  transform: rotateY(-90deg);
} */
