.book-suggest {
  position: fixed;
  top: 170px; /* Adjust based on your title input height */
  left: 20px;
  width: 295px;
  z-index: 10; /* Make sure it's above other elements */
  background-color: white;
  font-family: var(--font-formal);
}

.book-suggest ul {
  padding: 0;
  margin: 0;
  max-height: 200px; /* Optional: to add a scroll if there are too many suggestions */
  overflow-y: auto;
}

.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.book-list-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.2s;
}

.loading {
  align-items: center;
  padding: 8px;
}
.no-results {
  align-items: center;
  padding: 8px;
}

.book-list-item:hover {
  background-color: var(--peach);
  cursor: pointer;
}
