.EditPlantPanel {
  position: fixed; /* Ensure the panel is positioned above other elements */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--beige);
  border: 2px solid var(--chestnut-brown);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.EditPlantPanel-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.EditPlantPanel-form h3 {
  margin: 0;
  text-align: center;
  color: var(--aloe-green);
  font-family: var(--font-sans);
}

.EditPlantPanel-form label {
  font-weight: bold;
  font-family: var(--font-serif);
  color: var(--chestnut-brown);
}

.EditPlantPanel-form input {
  padding: 8px;
  border: 1px solid var(--medgrey);
  border-radius: 4px;
  font-size: 1rem;
  font-family: var(--font-sans);
}

.EditPlantPanel-buttons {
  display: flex;
  justify-content: space-between;
}

.EditPlantPanel-submit,
.EditPlantPanel-cancel,
.EditPlantPanel-delete {
  padding: 8px 16px;
  font-size: 1rem;
  font-family: var(--font-sans);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.EditPlantPanel-submit {
  background-color: var(--aloe-green);
  color: var(--white);
}

.EditPlantPanel-submit:hover,
.EditPlantPanel-cancel:hover {
  background-color: var(--darkgrey);
}

.EditPlantPanel-cancel {
  background-color: var(--sunset-pink);
  color: var(--white);
}

.EditPlantPanel-cancel:hover {
  background-color: var(--darkgrey);
}

.EditPlantPanel-delete-title {
  color: var(--error-red); /* For headings in DeletePlantPanel */
}

.EditPlantPanel-delete {
  background-color: var(--error-red); /* Use an appropriate variable for red */
  color: var(--white);
}

.EditPlantPanel-delete:hover {
  background-color: var(--darkgrey); /* A darker shade for hover effect */
}
