.NavBarBook-container {
  box-sizing: border-box;
  margin: 0;
  padding: var(--m) var(--m);
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(1.2 * var(--xxl));
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--l);
  background-color: var(--cotton-pink);
  border-bottom: 3px solid var(--sunset-pink);
  border-radius: 0px 0px var(--m) var(--m);
}

.NavBarBook-link {
  all: unset; /* Reset all styles */
  display: inline-flex; /* Consistent with flex behavior */
  justify-content: center;
  align-items: center;
  height: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: var(--l);
  cursor: pointer;
  transition: opacity 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

.NavBarBook-link:hover {
  opacity: 0.9;
  color: var(--spring-green);
}

.NavBarBook-link:focus {
  outline: none;
}

button.NavBarBook-link {
  padding: 0;
}
