.NavBarBook-container {
  box-sizing: border-box;
  margin: 0;
  padding: var(--m) var(--m);
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(1.2 * var(--xxl));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: var(--l);
  background-color: var(--cotton-pink);
  border-bottom: 3px solid var(--sunset-pink);
  border-radius: 0px 0px var(--m) var(--m);
}

.NavBarBook-link {
  all: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: var(--l);
  cursor: pointer;
  transition: opacity 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

.NavBarBook-link:hover {
  opacity: 0.9;
  color: var(--spring-green);
}

.NavBarBook-link:focus {
  outline: none;
}

button.NavBarBook-link {
  padding: 0;
}

.progress-container {
  position: relative;
  width: 70%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.39);
  border-radius: 5px;
  margin-left: 20px; /* Adjust position as needed */
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--spring-green); /* Color of the progress bar */
  border-radius: 5px;
}

.progress-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10; /* Ensures the slider is above the progress bar */
}

.progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.progress-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.VolumeToggle-button {
  padding: var(--s) var(--s);
  cursor: pointer;
  background-color: var(--cotton-pink);
  color: white;
  transition: background-color 0.1s ease, transform 0.1s ease; /* Smooth hover effect */
  z-index: 2;
  border: 4px solid var(--cotton-pink);
}
