.Plant-container {
  text-align: center; /* Ensure the plant content is centered within its container */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content */
  gap: 0px;
}

.Plant-image {
  width: 80px; /* Fixed width */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Prevents distortion */
  margin-top: 25px;
  z-index: 4;
}

@keyframes plantRock {
  0% {
    transform: scale(1.1) rotate(0deg);
  }
  25% {
    transform: scale(1.1) rotate(3deg);
  }
  50% {
    transform: scale(1.1) rotate(-3deg);
  }
  75% {
    transform: scale(1.1) rotate(2deg);
  }
  100% {
    transform: scale(1.1) rotate(0deg);
  }
}

.Plant-image:hover {
  cursor: pointer;
  transform: scale(1.1);
  animation: plantRock 2s ease-in-out infinite alternate;
}

.Plant-book-title {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any text that overflows */
  text-overflow: ellipsis; /* Add ellipses */
  max-width: 175px; /* Limit width */
  background-color: var(--peach);
  box-sizing: border-box;
  border: 2px solid var(--caramel-orange);
  margin: 0px;
  z-index: 3;
  font-size: 1em;
  padding: 1px;
  padding-left: 10px;
  padding-right: 8px;
  border-radius: 8px;
}

.Plant-book-title:hover {
  cursor: text;
  transform: scale(1.05);
}

/* New class for the input field */
.Plant-book-title-input {
  max-width: 175px; /* Match the width of the title */
  background-color: var(--cream); /* Different background color */
  border: 2px solid var(--caramel-orange); /* Highlight border */
  border-radius: 4px;
  font-size: 1em;
  padding: 5px;
  box-sizing: border-box;
  outline: none; /* Remove default focus outline */
  font-family: var(--font-small);
  color: var(--chestnut-brown);
}

.Plant-book-title-input:focus {
  border-color: var(--caramel-orange); /* Highlight border on focus */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.hidden-title {
  opacity: 0; /* Makes the text invisible */
  min-height: 30px; /* Ensures space is still reserved */
}
