.Shelf-container {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 20px; /* Space between items */
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
}

.Shelf-item {
  padding: 30px;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 8px;
}

.Shelf-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
