/* Shelf Container */
.Shelf-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-auto-rows: 1fr;
  gap: 0px; /* Space between items */
  padding: 0px;
  border: 0px solid var(--chestnut-brown);
  position: absolute;
  margin: 0px;
  top: 20%;
  left: 30%;
  height: 55%; /* Adjust as needed */
  width: 48%; /* Adjust as needed */
}

/* Shelf Item */
.Shelf-item {
  position: relative;
  width: 100%; /* Full width of grid cell */
  padding: 0px;
  border: 0px solid var(--chestnut-brown);
  border-radius: 0px;
  box-sizing: border-box; /* Include borders in size calculations */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center child elements horizontally */
  align-items: center; /* Center child elements vertically */
}

/* Image inside Shelf Item */
.Shelf-item img {
  max-width: 50%; /* Set the image to be smaller than the container (80% of the container width) */
  max-height: 50%; /* Ensure the image does not exceed 80% of the container height */
  object-fit: contain; /* Maintain the image aspect ratio */
  display: block; /* Remove any inline block spacing issues */
  margin: 0 auto; /* Ensure the image is centered within the container */
}

/* Column Layout */
.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Ensures equal column width */
}

.left,
.right {
  flex: 0.5; /* Adjust based on desired size for left and right columns */
}

.middle {
  flex: 2; /* Middle column takes more space */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Plant Container */
.plant-container {
  text-align: center; /* Ensure the plant content is centered within its container */
}

.DeletePlantButton {
  position: absolute; /* Position relative to .Shelf-item */
  top: 5px;
  right: 5px;
  background-color: var(--sunset-pink);
  color: var(--chestnut-brown);
  border: 0px;
  border-radius: 50%;
  font-weight: bold;
  width: 25px;
  height: 25px;
  display: none; /* Initially hidden */
  cursor: pointer;
  z-index: 2; /* Ensure the button appears above other content */
}

.DeletePlantButton:hover {
  background-color: var(--error-red);
  border: 2px solid white;
  transform: scale(1.1);
  color: white;
}

.EditPlantButton {
  position: absolute; /* Position relative to .Shelf-item */
  top: 40px;
  right: 7px;
  display: none;
  background-color: var(--bright-green);
  color: var(--chestnut-brown);
  border: none;
  border-radius: 10%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;
  padding: 0;
  padding-top: 1.5px;
  /* border: 2px solid var(--aloe-green); */
}

.EditPlantButton:hover {
  background-color: var(--spring-green);
  color: white;
  border: 2px solid white;
  transform: scale(1.05);
}

.Shelf-item:hover .DeletePlantButton,
.Shelf-item:hover .EditPlantButton {
  display: block; /* Show button when hovering over a shelf item */
}
